@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.ttf')
        format('truetype');
}

.profile {
    width: 450px;
    height: 400px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
    font-family: "Lato", san seriff;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: -15px;
}

h4 {
    font-weight: bolder;
    font-size: 22px;
    color: #BEBEBE;
}
p {
    font-weight: normal;
    line-height: 1.4;
    margin-top: 40px;
    font-size: 18px;
}
.prof-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/ProfilePic1.jpeg);
    /* background-size: auto; */
    outline-offset: 12px;
    background-size: 150px;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 50%;
}

.icons {
    margin: 0 auto;
    word-spacing: 50px;
    margin-top: 45px;
    font-size: 20px;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: blue;
}
a.top-navigation-bar {
    padding: 25px;  
}
a.top-navigation-bar:hover {
    color: white;
    background: black;
    /*padding: 25px; */
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    word-spacing: 1px;
    font-size: 13px;
    /* border-radius: 6px; */
    position: absolute;
    z-index: 1;
    top: 200%;
    left: 50%;
    margin-left: -95px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

ul {
    list-style-type: none;
    margin-top: -10px;
    margin-left: -10px;
    padding-left: 0px;
    padding-top: 0px;
    /*padding-bottom: 5px;*/
    font-family: 'Lato';
    /* padding-right: 50px; */
    /* margin-top: 25px; */
}

li {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
}

.line {
    width: 450px;
    height: 1px;
    /* fill: #808080; */
    background: #D8D8D8;
    margin-top: 50px;
}

.topline {
    width: 400px;
    height: 1px;
    /* fill: #808080; */
    background: #D8D8D8;
    margin-top: -15px;
}

.bottom-icons {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 50px;
}